<!-- Abdul 's RASPY INDEX.HTML CODE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="static/abdul.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>Abdul</h1>

    <p>
      my fav food
    </p>
    <img
      src="https://cdn.glitch.com/763a6bab-7ded-406b-a5ef-c96940445958%2Fpizza.jpeg?v=1608391759219"
    />
  </body>
</html>
