<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="static/mia.css">
    
    <script src="/script.js" defer></script>
  </head>  
  <body>
      <h1>Mia</h1>
    <img src="https://cdn.shopify.com/s/files/1/0059/8835/2052/products/Mamey_Sapote_Fruit_Tree_450_MAIN_grande.png?v=1605224976"/>
    <p>
      One of my favourite fruits is Mamey Sapote, also known as Mamey Fruit, Red Mamey, Sapote, Zapote Colorado, and Zapote Rojo.
      It is native to Cuba and Central America and today, is cultivated in the Caribbean, and South Florida.
    </p>
  </body>
</html>
